﻿@{
	ViewData["Title"] = "Completed";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@ViewData["Completed"]</h2>
<p>Displays one or more current personal or academic projects.</p>
@await Html.PartialAsync("_Sidebar")